<script type="text/ng-template" id="deviceDataModal.html">

  <div class="modal-header">
    <button type="button" aria-hidden="true" class="close" ng-click="cancel()">
      <span class="glyphicon glyphicon-remove-circle"></span>
    </button>

    <h4 ng-if="action == 'addNew'" id="new-device-modal-label" class="modal-title">{{t('devices.management.newDialog.label')}}</h4>
    <h4 ng-if="action == 'edit'" id="new-device-modal-label" class="modal-title">{{t('device.settings.edit.label')}}</h4>

  </div>

  <div class="modal-body">
    <form role="form" id="new-device-form" class="form-horizontal">
      <input type="hidden" value="" ng-model="id" />
      <div class="form-group">
        <label for="new-device-ip" class="col-sm-2 control-label">{{t('devices.management.newDialog.name')}}:</label>
        <div class="col-sm-10">

          <input placeholder="Olohuone" class="form-control" ng-model="device.name" />

        </div>
      </div>
      <div class="form-group"><label for="new-device-ip" class="col-sm-2 control-label">{{t('devices.management.newDialog.ip')}}:</label>
        <div class="col-sm-10">

          <input placeholder="192.168.1.100" class="form-control" ng-model="device.ip" />

        </div>
      </div>
      <div class="form-group">
        <label for="new-device-ip" class="col-sm-2 control-label">{{t('devices.management.newDialog.port')}}:</label>
        <div class="col-sm-10">

          <input placeholder="8080" class="form-control"  ng-model="device.port" />

        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" ng-click="cancel()" class="btn btn-default">{{t('general.cancel')}}</button>
    <button type="button" btn-loading="loading" ng-click="save()" class="btn btn-primary" data-loading-text="{{t('devices.management.newDialog.loading')}}">{{t('general.save')}}</button>
  </div>
</script>