
{% raw %}
<script id="device-rows-template" type="text/x-handlebars-template">
{{#each items}}
  <div class="row" data-identifier="{{_id}}">
    <div class="col-xs-12 col-sm-4">
      <b><p id="name">{{name}}</p></b>
    </div>
    <div class="col-xs-8 col-sm-6">
      <p><span id="ip">{{ip}}</span>:<span id="port">{{port}}</span></p>
    </div>
    <div class="col-xs-4 col-sm-2">
      <div class="btn-group">
        <button type="button" data-toggle="dropdown" class="btn btn-default dropdown-toggle">
          <span class="glyphicon glyphicon-cog"></span>
        </button>
        <ul role="menu" class="dropdown-menu pull-right">
          <li role="presentation">
            <a role="menuitem" tabindex="-1" onclick="window.editDeviceById('{{_id}}')" class="device-edit" data-identifier="{{_id}}">
              {% endraw %}{{t('devices.management.edit')}}{% raw %}
            </a>
          </li>
          <li role="presentation" class="divider"></li>
          <li role="presentation">
            <a role="menuitem" tabindex="-1" onclick="window.removeDeviceById('{{_id}}')" class="device-remove" data-identifier="{{_id}}">
              {% endraw %}{{t('devices.management.rem')}}{% raw %}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
{{/each}}
</script>
{% endraw %}