{% extends 'layout.html' %}

{% block content %}
<div class="device-container container" data-devicejson="{{JSON.stringify(device)}}">

  <div class="page-header">

    <div>
      <h1>
        {{ device.name }}<!--<small>Subtext for header</small>-->
      </h1>
    </div>
  </div>

  {% if device.errorKey != '' %}

  <div class="alert alert-danger">
    {{ t('error.description') }} {{ t('error.' + device.errorKey) }}.
  </div>

  {% endif %}

  <div id="device-data" class="row">

    <div id="device-ip-container" class="col-sm-4 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <p>
            <b>{{ t('devices.ip') }}:</b>
          </p>
        </div>
        <div class="col-xs-8">
          <p id="device-ip">
            {{ device.ip }}
          </p>
        </div>
      </div>
    </div>

    <div id="device-port-container" class="col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
            <p>
              <b>{{ t('devices.port') }}:</b>
            </p>
          </div>
          <div class="col-xs-8">
            <p id="device-port">
              {{ device.port }}
            </p>
          </div>
        </div>
    </div>

    <div id="device-id-container" class="col-sm-5 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <p>
            <b>{{ t('devices.id') }}:</b>
          </p>
        </div>
        <div class="col-xs-8">
          <p id="device-id">
            {{ device._id.valueOf() }}
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr class="custom-hr">

  <div id="realtime-data" class="row">
    <div class="col-sm-4 col-xs-6">
      lämpötilä
    </div>
    <div class="col-sm-4 col-xs-6">
      kosteus
    </div>
    <div class="col-sm-4 col-xs-12">
      aika
    </div>
  </div>
</div>

{% endblock %}