<!doctype html>
<html data-framework="angularjs">
<head>
    <meta charset="utf-8" />
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">

</head>
<body ng-app="automationApp">
    <div id="wrap">
        <div role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                <!--
                    <button type="button" data-toggle="collapse" data-target=".navbar-collapse" class="navbar-toggle btn-default">
                        <span class="sr-only"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a href="/" class="active navbar-brand">{{t('app.name')}}</a>
                -->
                    <a href="/" class="active navbar-brand">{{t('app.footer.text')}}</a>
                </div>
            <!--
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        {% block topnav %}
                        <li><a href="temps">{{t('layout.nav.temps')}}</a></li>
                        <li><a href="devices">{{t('layout.nav.devices')}}</a></li>
                        {% endblock %}
                    </ul>
                </div>
            -->
            </div>
        </div>

        <div class="container" ng-view>
        </div>

        <div class="main-container-block">
        </div>
        {% include './includes/new-device-modal.html' %}

    </div>

    <div id="footer">
        <div class="container">
            <img src="/images/raspi_128.png">
            <img src="/images/arduino_128.png">
        </div>
    </div>

    <!--<script src="/js/index.js"></script>-->

    <script src="/js/lib/jquery-2.0.3.min.js"></script>
    <script src="/js/lib/angular.min.js"></script>
    <script src="/js/lib/angular-route.js"></script>
    <script src="/js/lib/angular-ngsocket.js"></script>
    <script src="/js/lib/socket.io.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/ui-bootstrap-tpls-0.10.0.min.js"></script>

    <script src="/js/angular-app.js"></script>

    <!--<script src="/js/lib/backbone-min.js"></script>-->
</body>
</html>