html {
  height: 100%;
}

body {
  height: 100%;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

body > div.container {
    padding-top: 0;
}

.page-header {
  margin: 20px 0 20px !important;
}

a {
  /*color: #00B7FF;*/
}

#devices-controls {
  margin-bottom: 20px;
}

#devices-error div.row,
#devices-active div.row {
  padding-top: 4px;
  padding-bottom: 4px;
}

span.app-title-part1 {
  color: #33CCCC;
}

span.app-title-part2 {
  color: #FF9640;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

#wrap > .container {
  padding: 60px 15px 0;
}

#footer {
  height: 60px;
  background-color: #f5f5f5;
  box-shadow: 0px 0px 5px #888;
}

#footer .container {
  padding-top: 12px;
  text-align: center;
}

#footer .container > img {
  max-height: 40px;
  margin-left: 10px;
  margin-right: 10px;
}

span.device-id {
  display: block;
  color: #929292;
  font-size: 0.8em;
  margin-bottom: 0.4em;
}

span.device-status {
  float: right;
}

.device-list-item .device-status.glyphicon-ok-sign {
  color: #00BC00;
}

.device-list-item .device-status.glyphicon-exclamation-sign {
  color: #EB0000;
}

#device-id-container #device-id {
  font-size: 0.9em;
}

.custom-hr {
  margin-top: 10px;
  margin-bottom: 10px;
}

.main-container-block {
  margin-bottom: 10px;
}