<div class="device-container container">

  <div class="page-header">

    <div>
      <h1>
{% raw %}
        <span>{{device.name}}</span>
        <small>{{device.description}}</small>
{% endraw %}
      </h1>
    </div>
  </div>

  <div ng-if="device.status == 'error'" class="alert alert-danger">
    {{ t('error.description') }}
    <span ng-if="device.errorKey == 'ETIMEDOUT'">{{ t('error.ETIMEDOUT') }}</span>
    <span ng-if="device.errorKey == 'ECONNREFUSED'">{{ t('error.ECONNREFUSED') }}</span>
    <span ng-if="device.errorKey == 'EHOSTDOWN'">{{ t('error.EHOSTDOWN') }}</span>
    <span ng-if="device.errorKey == 'EHOSTUNREACH'">{{ t('error.EHOSTUNREACH') }}</span>
  </div>

  <div id="device-data" class="row">

    <div class="col-xs-12">
      <div class="row header-row">
        <div class="col-xs-9">
          <h4>{{ t('device.settings.title') }}</h4>
        </div>
        <div class="col-xs-3">
          <button type="button" class="btn btn-default pull-right btn-sm" ng-click="edit()">
            {{t('device.settings.edit.title')}} <span style="padding-left:4px;" class="glyphicon glyphicon-wrench"></span>
          </button>
        </div>
      </div>
    </div>

    <div id="device-ip-container" class="col-sm-4 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <p>
            <b>{{ t('devices.ip') }}:</b>
          </p>
        </div>
        <div class="col-xs-8">
          <p id="device-ip">
{% raw %}
            {{ device.ip }}
{% endraw %}
          </p>
        </div>
      </div>
    </div>

    <div id="device-port-container" class="col-sm-3 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
            <p>
              <b>{{ t('devices.port') }}:</b>
            </p>
          </div>
          <div class="col-xs-8">
            <p id="device-port">
{% raw %}
              {{ device.port }}
{% endraw %}
            </p>
          </div>
        </div>
    </div>

    <div id="device-id-container" class="col-sm-5 col-xs-12">
      <div class="row">
        <div class="col-xs-4">
          <p>
            <b>{{ t('devices.id') }}:</b>
          </p>
        </div>
        <div class="col-xs-8">
          <p id="device-id">
{% raw %}
            {{ device._id.valueOf() }}
{% endraw %}
          </p>
        </div>
      </div>
    </div>

  </div>

  <hr class="custom-hr">

  <div ng-controller="DeviceTemperatureController">

    <div class="row header-row">
      <div class="col-xs-9">
        <h4>{{ t('device.realtime.title') }}</h4>
      </div>
      <div class="col-xs-3">
        <button type="button" class="btn btn-default pull-right btn-sm">
          {{t('device.realtime.monitorBtn')}} <span style="padding-left:4px;" class="glyphicon glyphicon-eye-open"></span>
        </button>
      </div>
    </div>

    <div id="realtime-data" class="row">
      <div class="col-sm-4 col-xs-6">
        lämpötilä
  {% raw %}
        <span>{{ realTimeData.temperature }}</span>
  {% endraw %}
      </div>
      <div class="col-sm-4 col-xs-6">
        kosteus
  {% raw %}
        <span>{{ realTimeData.humidity }}</span>
  {% endraw %}
      </div>
      <div class="col-sm-4 col-xs-12">
        aika
  {% raw %}
        <span>{{ realTimeData.time }}</span>
  {% endraw %}
      </div>
    </div>

  </div>

  <hr class="custom-hr">

  <div class="row header-row">
    <div class="col-xs-12">
      <h4>{{ t('device.temps.title') }}</h4>
    </div>
  </div>

  <div id="temperature-graph-tabs" ng-controller="DeviceTemperatureDataController">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#week" data-toggle="tab">{{t('device.temps.week')}}</a></li>
      <li><a href="#month" data-toggle="tab">{{t('device.temps.month')}}</a></li>
      <li><a href="#year" data-toggle="tab">{{t('device.temps.year')}}</a></li>
    </ul>

    <div class="tab-content" id="graph-tabs">
      <div class="tab-pane active" id="week">viikon tempit</div>
      <div class="tab-pane" id="month">kuukauden tempit</div>
      <div class="tab-pane" id="year">vuoden tempit</div>
    </div>
  </div>

  <hr class="custom-hr" style="margin-top:1em;">

  <button type="button" class="btn btn-danger btn-sm" ng-click="remove()">
    {{t('device.settings.remove')}} <span style="padding-left:4px;" class="glyphicon glyphicon-wrench"></span>
  </button>

</div>