<div>

  <div class="page-header">
    <h1>{{t('devices.active')}}</h1>
  </div>

  <div class="list-group" id="devices-list">
{% raw %}
    <a href="#/device/{{device._id.valueOf()}}" class="list-group-item" data-ng-repeat="device in devices">
      <h4 class="list-group-item-heading device-list-item">
        {{device.name}}
        <span ng-if="device.status == 'active'" class="device-status glyphicon glyphicon-ok-sign"></span>
        <span ng-if="device.status == 'error'" class="device-status glyphicon glyphicon-exclamation-sign"></span>
      </h4>
      <div class="list-group-item-text">
        <span class="device-id">({{device._id.valueOf()}})</span>
        <span class="device-ip">{{device.ip}}</span>:<span class="device-port">{{device.port}}</span>
      </div>
    </a>

  </div>
{% endraw %}

  <div ng-controller="NewDeviceController" class="pull-right">
     <button class="btn btn-primary" ng-click="open()">
        {{t('devices.management.new')}}
    </button>
  </div>

</div>